/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";


$black: #222;
$red:#D84442;
$orange:#D4AA58;
$yellow:#DEDB62;
$lightblue:#54C0D6;
$blue:#45449E;
$green:#7cc7a7;
* {
	box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Georgia;
}

body {
	font-family:Georgia;
	position:relative;
	-ms-touch-action: none;
}

a {
	color:$yellow;
	border-bottom:1px dotted $yellow;
	text-decoration:none;
	&:visited {
		color:$orange;
		border-bottom:1px dotted $orange;	
	}
	&:hover {
		color:#CDF560;
		border-bottom:1px dotted #CDF560;
	}
}

#thing {
	height: 200px;
	width: 200px;
	background-color: #000;
}

.hibou-container {
	@include clearfix;
}
.hibou {
	border-top: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	float:left;
	&:first-of-type {
		border-left: 1px dotted #ccc;
	}
}
.hibou-row {
	@include clearfix;
	&:last-of-type {
		.hibou {
			border-bottom:1px dotted #ccc;
		}		
	}
}
.hello {
	position:absolute;
	z-index: 0;
	h1 {
		font-size: 1em;
		display:inline;
	}
}
nav {
	> ul {
		> li {
			position:absolute;
			-ms-touch-action: manipulation;
			> ul {
				display:none;
				z-index:2;
				> li {
					position:absolute;
					z-index:2;
				}
			}
			&:hover {
				ul {
					display:block;
				}
			}
		}
	}
}
.arrow-up {
	width:0px; 
	height:0px; 
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #fff;
	font-size:0px;
	line-height:0px;
	position:absolute;
	display:none;
	pointer-events:none;
}
.arrow-down {
	width:0px; 
	height:0px; 
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid #fff;
	font-size:0px;
	line-height:0px;
	position:absolute;
	display:none;
	pointer-events:none;
}
footer {
	position:absolute;
	text-align:right;
	color:#fff;
}