/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "mixins";


$black: #222;
$red:#D84442;
$orange:#D4AA58;
$yellow:#DEDB62;
$lightblue:#54C0D6;
$blue:#45449E;
$green:#7cc7a7;
* {
	box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Georgia;
}

body {
	font-family:Georgia;
	position:relative;
	//-ms-touch-action: none;
}

a {
	color:$yellow;
	border-bottom:1px dotted $yellow;
	text-decoration:none;
	&:visited {
		color:$orange;
		border-bottom:1px dotted $orange;	
	}
	&:hover {
		color:#CDF560;
		border-bottom:1px dotted #CDF560;
	}
}

#thing {
	height: 200px;
	width: 200px;
	background-color: #000;
}

.hibou-container {
	@include clearfix;
}
.hibou {
	border-top: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	float:left;
	position:relative;
	z-index:0;
	&:first-of-type {
		border-left: 1px dotted #ccc;
	}
}
.hibou-row {
	@include clearfix;
	&:last-of-type {
		.hibou {
			border-bottom:1px dotted #ccc;
		}		
	}
}
.hello {
	position:absolute;
	z-index: 1;
	h1 {
		font-size: 1em;
		display:inline;
		position:relative;
	}
}
nav {
	z-index:1;
	> ul {
		z-index:1;
		> li {
			position:absolute;
			z-index:1;
			@include  text-select();
			span {
				pointer-events:none;
			}
			> ul {
				display:none;
				z-index:1;
				> li {
					position:absolute;
					z-index:1;
				}
			}
		}
	}
}
article {
	position: absolute;
	z-index: 0;
	.liquidImg {
		z-index: -1;
		position: relative;
	}

}
.arrow-up {
	width:0px; 
	height:0px; 
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #fff;
	font-size:0px;
	line-height:0px;
	position:absolute;
	display:none;
	pointer-events:none;
	z-index:1;
}

footer {
	position:absolute;
	color:#fff;
	z-index:1;
}

// ICON FONT
 
/* Just click to select the code */
 
@charset "UTF-8";
 
@font-face {
  font-family: "hibou";
  src:url("../fonts/hibou.eot");
  src:url("../fonts/hibou.eot?#iefix") format("embedded-opentype"),
    url("../fonts/hibou.ttf") format("truetype"),
    url("../fonts/hibou.svg#hibou") format("svg"),
    url("../fonts/hibou.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
 
[data-icon]:before {
  font-family: "hibou";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
 
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hibou";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
} 
 
.icon-arrow-1-left:before {
   content: "a"; 
} 
 
.icon-arrow-1-right:before {
   content: "b"; 
} 
 
.icon-arrow-left:before {
   content: "c"; 
} 
 
.icon-arrow-right:before {
   content: "d"; 
} 
 
.icon-arrow-1-up:before {
   content: "e"; 
} 
 
.icon-arrow-1-down:before {
   content: "f"; 
} 
 
.icon-search:before {
   content: "g"; 
}