/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 22, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia;
}

/* line 26, ../sass/screen.scss */
body {
  font-family: Georgia;
  position: relative;
}

/* line 31, ../sass/screen.scss */
a {
  color: #dedb62;
  border-bottom: 1px dotted #dedb62;
  text-decoration: none;
}
/* line 35, ../sass/screen.scss */
a:visited {
  color: #d4aa58;
  border-bottom: 1px dotted #d4aa58;
}
/* line 39, ../sass/screen.scss */
a:hover {
  color: #CDF560;
  border-bottom: 1px dotted #CDF560;
}

/* line 45, ../sass/screen.scss */
#thing {
  height: 200px;
  width: 200px;
  background-color: #000;
}

/* line 51, ../sass/screen.scss */
.hibou-container {
  overflow: hidden;
  *zoom: 1;
}

/* line 54, ../sass/screen.scss */
.hibou {
  border-top: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  float: left;
}
/* line 58, ../sass/screen.scss */
.hibou:first-of-type {
  border-left: 1px dotted #ccc;
}

/* line 62, ../sass/screen.scss */
.hibou-row {
  overflow: hidden;
  *zoom: 1;
}
/* line 65, ../sass/screen.scss */
.hibou-row:last-of-type .hibou {
  border-bottom: 1px dotted #ccc;
}

/* line 70, ../sass/screen.scss */
.hello {
  position: absolute;
  z-index: 0;
}
/* line 73, ../sass/screen.scss */
.hello h1 {
  font-size: 1em;
  display: inline;
}

/* line 80, ../sass/screen.scss */
nav > ul > li {
  position: absolute;
}
/* line 82, ../sass/screen.scss */
nav > ul > li > ul {
  display: none;
  z-index: 2;
}
/* line 85, ../sass/screen.scss */
nav > ul > li > ul > li {
  position: absolute;
  z-index: 2;
}
/* line 91, ../sass/screen.scss */
nav > ul > li:hover ul {
  display: block;
}

/* line 98, ../sass/screen.scss */
.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  display: none;
  pointer-events: none;
}

/* line 110, ../sass/screen.scss */
.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  display: none;
  pointer-events: none;
}

/* line 122, ../sass/screen.scss */
footer {
  position: absolute;
  text-align: right;
  color: #fff;
}
